* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --main-color: #10c8fa;
  --transparent-color:rgb(15 116 145 /70%);
  --section-padding:100px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
ul{
    list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.stats,
.design,
.landing {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-heading {
  text-align: center;
  margin-top: 50px;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 1.7;
  color: #706868;
}
header{
  position: absolute;
  width: 100%;
  z-index: 2;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after{
  content: '';
  position: absolute;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  height: 2px;
  bottom: -1%;
  left: 15px;
}
header .logo{
  display: -webkit-box;
  color: aliceblue;
  text-decoration: none;
}
header nav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}
header nav .toggle-menu{
  color: aliceblue; 
  font-size: 20px;
}
@media(min-width: 768px){
  header nav .toggle-menu{
    display: none;
  }
}
header nav ul{
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  header nav ul li a {
    padding: 15px !important;
  }
}
header nav ul a{
  display: block;
  color: aliceblue;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
  padding: 40px 20px;
  position: relative;
  z-index: 2;
}
header .from {
  padding-left: 20px;
  position: relative;
  color: aliceblue;
  border-left: 1px solid white;
  height: 20px;
  margin-left: 30px;
}
header nav ul li a.active,
header nav ul li a:hover{
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.landing{
  min-height: 100vh;
  background-color: var(--main-color);
  background-image: url(../images/Screenshot\ 2025-10-30\ 172130.png);
  background-size: cover;
  position: relative;
}
.landing .overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 65%);
}
.landing .text{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 50%;
  padding:50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .contact{
  max-width: 400px;
}
.landing .text .contact h2{
  font-size: 28px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.landing .text .contact p{
  font-size: 14px;
  line-height: 1.8;
}
.landing .change-background{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media(max-width: 767px) {
  .landing .change-background{
    display: none;
  }
}
.landing .fa-angle-right{
 right: 30px;
}
.landing .fa-angle-left{
 left: 30px;
}
.landing .bullets{
 position: absolute;
 left: 48%;
 transform: translateY(-50%);
 bottom: 30px;
 display: flex;
}
@media(max-width: 767px) {
  .landing .bullets{
    position: absolute;
    left: 40%;
  }
}
.landing .bullets li{
 width: 20px;
 height: 20px;
 border: 3px solid var(--transparent-color);
 border-radius: 50%;
 margin-right: 10px;
}
.landing .bullets li.active{
  background-color: var(--main-color);
  opacity: 80%;
}
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
.services .srv-box i {
  margin-right: 50px;
  font-size: 40px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 0 0 30px;
  }
}
.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv-box p {
  line-height: 2;
  color: rgb(137, 128, 130);
}
.design{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  background-image: url(../images/360_F_248016850_J1SXhW3MJ0MmCcH3o8VQj7CGfoTNizMr.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.design::before {
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(0 0 0 / 65%);
}
.design .imaga,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .imaga {
  text-align: center;
}
@media (max-width: 767px) {
  .design .imaga {
    display: none;
  }
}
.design .imaga img{
  position: relative;
  bottom: -150px;
}
.design .text {
  color: aliceblue;
  padding: 10px;
  background-color: var(--transparent-color);
}
.design .text h1 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li{
  padding: 10px 0;
}
.design .text ul li::before{
  font-family: "Font Awesome 5 Free";
  content:"\f108";
  font-weight: 900;
  margin-right: 20px;
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 50px auto;
  text-decoration: none;
  text-transform: uppercase;
}
.video h1{
  text-transform: uppercase;
  font-weight: normal;
  color: white;
}
.video p{
  margin-bottom: 20px;
  color: white;
}
.video .text button{
  margin-top: -20px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 10px 10px;
  border: none;
}
.video{
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.video::before{
 content:"";
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 right: 0;
 background-color: rgb(0 0 0 / 40%);
 z-index: 1;
}
.video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video .text{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  background-color: var(--transparent-color);
  text-align: center;
  z-index: 2;
}
.about{
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img{
  position: relative;
  margin-top: -80px;
  max-width: 100%;
}
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url("../images/Space-Background-Image-stats.jpg");
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container i{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.stats .container .box .number{
  font-weight: bold;
  font-size: 50px;
  margin: 0 0 20px;
}
.our-skills{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container div > h3{
  margin: 0 0 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container div > p{
  margin-bottom: 60px;
  color: #333;
  line-height: 2;
  text-align: center;
}
.our-skills .testimonials .content{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.our-skills .content img{
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .our-skills .testimonials .content img {
    margin: 0 30px 0 20px;
  }
}
.our-skills .testimonials .text{
  line-height: 2;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: right;
}
.our-skills .testimonials .bullets{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li{
  width: 15px;
  height: 15px;
  border: 1px solid #777;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active{
  border-color: var(--transparent-color);
  background-color: var(--main-color);
}
.our-skills .skills .prog-holder{
  margin-bottom: 15px;
}
.our-skills .skills .prog-holder h4{
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog{
  background-color: #dadacd;
  height: 30px;
}
.our-skills .skills .prog-holder .prog span{
  display: block;
  position: relative;
  background-color: var(--main-color);
  height: 100%;
}
.our-skills .skills .prog-holder .prog span::before{
  content:attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -30px;
  right: -15px;
  width: 40px;
  border-radius: 4px;
  text-align: center;
}
.our-skills .skills .prog-holder .prog span::after{
  content:"";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent transparent;
  right: -8px;
  top: -13px;
}